section {
  height: 460px;
}

header ul li {
  display: inline-block;
  background-color: gray;
  padding-left: 70px;;
  padding-top: 20px;
  padding-bottom: 20px;
}

header ul li:not(:first-child) {
  position: relative;
  left: 25px;
  top: -25px;
  font-size: 20px;
}

header {
  background-color: gray;
  text-align: left;
  margin: 1px;
  padding-left: 30px;
}

main img:first-of-type {
  margin-left: 100px;
  padding-top: 30px;
  
}

main ul li:nth-child(2) {
  display: inline-block;
  margin-left: -75px;
}

main ul li:first-child {
  display: inline-block;
  margin-right: 0;
}

main ul li:last-child {
  display: inline-block;
  margin-left: -75px;
}

section img {
  float: left;
  padding-left: 0px;
}

h2 {
  padding-top: 30px;
  padding-left: 750px;
  padding-bottom: 15px;
}

p {
  overflow: scroll;
  height: 300px;
  width: 450px;
  padding-left: 30px;
}

button {
  margin-left: 30px;
  margin-top: 27px;
  padding: 10px 20px;
  background-color: gray;
  color: white;
  font-size: 15px;
}

button:hover {
  background-color: white;
  color: black;
  transition-delay: 350ms;
}

footer {
left:0px;
bottom:0px;
height:50px;
width:100%;
background:gray;
padding-top: 30px;
}